/* Navbar Styles */
.navbar {
    background: #333;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0;
  }
  
  .logo {
    color: #32CD32;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .navbar ul li {
    display: inline-block; /* Change to inline-block to allow styling */
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .navbar ul li a:hover {
    text-decoration: none; 
    color: #32CD32; 
  }
  
  /* Active State for links */
  .navbar ul li a.active {
    color: #32CD32;
    text-decoration: none; 
  }
  
  @media (max-width: 768px) {
    .navbar ul {
      display: none;  /* Hide the menu items initially */
      flex-direction: column;  /* Stack items vertically */
      width: 100%;
      background: #454444;
      padding: 15px 0;
    }
  
    .navbar ul.active {
      display: flex;  /* Show the menu when the navbar is active */
    }
  
    .navbar ul li {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      position: relative;
      padding-bottom: 10px;  /* Space for the underline */
    }
  
   
    .navbar .menu-btn {
      display: block;  /* Show the hamburger menu button */
      background: #333;
      color: white;
      font-size: 20px;
      border: none;
      cursor: pointer;
    }
  
    .navbar .menu-btn:focus {
      outline: none;
    }
    
  }
  
/* Default view - Menu button hidden */
.menu-btn {
    display: none;
  }